/*navigation section*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*home section*/
#home{
  height: 362px;
  padding: 3px 28px;
}
 #home::before{
     height: 480px;
 }
#home p{
    font-size: 13px;
}
 /*services section*/
 #services{
       flex-direction: column;
 }
#services .box{
     padding: 14px;
     margin: 2px 15px;
     margin-bottom: 20px;  
}


 /*client section*/
#client{
    flex-wrap: wrap;
}
#clients img{
    width: 58px;
    height: auto;
}



 /*contact section*/




 /*footer section*/

 /*utility section*/
.h-primary{
    font-size: 15px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}